@import './base.scss';

a, a:visited, a:active {
  text-decoration: none;
  color: var(--primary);
  transition: all 0.5s ease;
  display: inline-flex;
}

a:hover {
  color: var(--secondary);
}

h1, h2 {
  color: var(--primary);
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 2rem 3.5rem 2rem;
}

header {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 1rem 2rem;
  box-shadow: var(--box-shadow-1);
}

footer {
  padding: 1rem 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: var(--box-shadow-footer);
  background-color: var(--vt-c-black);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-style: none;
  box-sizing: border-box;
  flex-shrink: 0;
  color: var(--vt-c-black);
  cursor: pointer;
  border-radius: 50px;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  height: 3rem;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .1s ease;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

label {
  display: flex;
  padding: 0 1rem;
  font-size: large;
  /* Fallback: Set a background color. */
  background-color: var(--primary);
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, var(--primary), var(--primaryV));
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

input {
  display: flex;
  border: none;
  background: hsl(0, 0%, 15%);
  border-radius: 50px;
  padding: 0 1rem;
  height: 3rem;
  color: inherit;
  font-size: medium;
}

.h1-custom {
  font-size: 75px;
  /* Fallback: Set a background color. */
  background-color: var(--primary);
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, var(--primary), var(--primaryV));
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
}

@media (min-width: 1024px) {

}
